.section_formulario{
    width: 100%;
    overflow: hidden;
}
#register-btn{
    cursor: not-allowed;
}
.container_contactanos_total{
    display: block;
    margin: 2% auto;
    width: 50%;
    max-width: 700px;
    min-width: 600px;
    
}



/*social network*/



@media (max-width: 768px){
    .container_contactanos_total{
        width: 90%;
        min-width:auto;
    }
}

@media (max-width: 576px){
    .container_contactanos_total{
        width: 95%;
        min-width:auto;
    }
}


.facebook_form:hover {
    fill: var(--verde_primario);
    transform: scale(1.1);
    transition: transform .3s ease, fill .2s ease;
  }

.whatsapp_form:hover {
    fill: var(--verde_primario);
    transform: scale(1.1);
    transition: transform .3s ease, fill .2s ease;
  }
.instagram_form {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-radius: 16px;
}
.instagram_form:hover {
    fill: var(--verde_primario);
    background: white;
    transform: scale(1.1);
    transition: transform .3s ease, fill .2s ease;
  }
  .email_form:hover {
    fill: var(--verde_primario);
    transform: scale(1.1);
    transition: transform .3s ease, fill .2s ease;
  }
  .pinterest_form:hover{
    fill: var(--verde_primario);
    transform: scale(1.1);
    transition: transform .3s ease, fill .2s ease;
  }
  .twitter_form:hover{
    fill: var(--verde_primario);
    transform: scale(1.1);
    transition: transform .3s ease, fill .2s ease;
  }