.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color:rgb(249,249,249);
    opacity: 1;
}

.contenido_loader{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.loader_texto{
    display: block;
    margin: auto;
    text-align: center;
    width: 50%;
}

.stop-scroll {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }

  
@media (max-width: 992px){
    .loader_texto{
        width: 80%;
    }
}

@media (max-width: 768px){
    .loader_texto{
        width: 90%;
    }
}

@media (max-width: 576px){
    .loader_texto{
        width: 100%;
    }
}