@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Moon+Dance&display=swap');


@import 'animaciones.css';
@import 'loading.css';
@import 'navbar.css';
@import 'header.css';  
@import 'quienes_somos.css';  
@import 'productos.css';  
@import 'servicios.css';  
@import 'nuestros_clientes.css';
@import 'formulario.css';
@import 'footer.css';
@import 'social_fab.css';
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --verde_primario: #83c451;
    /*--verde_primario: #89d631;*/
    --negro_primario_texto: #343a40;
    --white: #ffffff;
    /*--backgroundbodycolor: #f1fff0;*/
    --backgroundbodycolor: #fdfdfd;
    --max-width_page: 1920px;
    --verde_agua_marina: #edf7ec;
  }

.bodystyles{
    
    width: 100%;
    background-color: var(--backgroundbodycolor);
    /*background-color: #EDEDED;*/
    /*
    font-family: Palatino Linotype, Georgia, Oxygen, Roboto, 'Segoe UI', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    */
    
    /*
    /*FUENTES V1*
    font-family: Georgia, Palatino Linotype, Book Antiqua;*/
    /*FUENTES V2*/
    font-family: Roboto, 'Segoe UI', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    
    
}
img {
    /*anula facilidad de guardado de imagenes*/
    pointer-events: none;
}
.clearfix{
    clear:both;
    float:none;
}

.container_center{
    margin: 2% auto;
    padding: .2% .2%;
    width: 96%;
    max-width: var(--max-width_page);
    /*background-color: var(--white);*/
    background-color: var(--verde_primario);
    box-shadow: 0 1px 1px 0 rgba(99, 99, 99, 0.2);
    border-radius: .5rem;
    
}


.barra_inicio{
    height: 63px;
    width: 100%;
}


/*Formato de texto_titulos*/
.text_titulo{
    color: var(--negro_primario_texto);
    text-shadow: 1px 1px 3px var(--verde_primario);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
}

.box_sections_format{
    
    border-radius: .5rem;
    background-color: var(--verde_agua_marina);
    /*
    background: rgb(137,214,49);
    background: linear-gradient(0deg, rgba(137,214,49,1) 0%, rgba(237,247,236,1) 80%);
    */
    background: rgb(131,196,81);
    background: linear-gradient(0deg, rgba(131,196,81,1) 0%, rgba(237,247,236,1) 80%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
/*Formato de texto_titulos*/
.box_border_format{
    border-radius: .5rem;
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0,124,0,0.2);
}

/*Tititulos de cada sección*/
.container_titulos_seccion{
    width: 100%;
    height: 150px;
    text-align: center;
    /*background: rgb(236, 255, 225);
    box-shadow: 0 4px 8px 0 rgba(0,124,0,0.2);*/
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.divisor_titles{
    width: 70%;
    height: .1rem;
    background-color: black;
    display: block;
    margin: auto;
}

@media (max-width: 768px){
    .container_titulos_seccion{
        height: 120px;
    }
}
/*
.container_titulos_seccion h2:after{
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    box-shadow: 1px 1px 2px 0px white;
    background-color: var(--negro_primario_texto);
    border-radius: 5px;
    bottom: -20%;
    right: 0%;
    margin: 0 auto;
    transform: translate(0%, 0%);

}
*/

