@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Moon+Dance&display=swap');


@import 'animaciones.css';
@import 'loading.css';
@import 'navbar.css';
@import 'main_header.css'; 
@import 'header.css';  
@import 'seccion_titulos.css';
@import 'seccion_cards.css';
@import 'quienes_somos.css';
@import 'quienes_somos2.css';
@import 'productos.css';  
@import 'produccion.css';  
@import 'nuestros_clientes.css';
@import 'formulario.css';
@import 'footer.css';
@import 'modals.css';
@import 'tip_imagen.css';
@import 'social_fab.css';
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --verde_primario: #83c451;
    /*--verde_primario: #89d631;*/
    --negro_primario_texto: #343a40;
    --white: #ffffff;
    /*--backgroundbodycolor: #f1fff0;*/
    --backgroundbodycolor: #fdfdfd;
    --max-width_page: 1920px;
    --verde_agua_marina: #edf7ec;
  }

.bodystyles{
    
    width: 100%;
    background-color: var(--backgroundbodycolor);
    /*background-color: #EDEDED;*/
    /*
    font-family: Palatino Linotype, Georgia, Oxygen, Roboto, 'Segoe UI', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    */
    
    /*
    /*FUENTES V1*
    font-family: Georgia, Palatino Linotype, Book Antiqua;*/
    /*FUENTES V2*/
    font-family: Roboto, 'Segoe UI', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    
    
}
img {/*anula facilidad de guardado de imagenes*/
    pointer-events: none;
}
.clearfix{
    clear:both;
    float:none;
}
.barra_inicio{
    height: 63px;
    width: 100%;
}
.container_center{
    
    margin: 2% auto;
    padding: .2% .2%;
    width: 96%;
    max-width: var(--max-width_page);
    /*background-color: var(--white);*/
    background-color: rgb(211, 231, 213);
    box-shadow: 0 1px 1px 0 rgba(99, 99, 99, 0.2);
    border-radius: .5rem;
}
.background_loading_img{ /*Carga imagen.gif de carga en un div*/
    background-image: url(../images/otros/ajax-loader.gif);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
}
.background_loading_img_header{ /*Carga imagen.gif de carga en un div*/
    background-image: url(../images/otros/ajax-loader.gif);
    background-repeat: no-repeat;
    background-size: 20% ;
    background-position: 50%;
}




.box_sections_format{
    border-radius: .5rem;
    background-color: var(--verde_agua_marina);
    /*
    background: rgb(137,214,49);
    background: linear-gradient(0deg, rgba(137,214,49,1) 0%, rgba(237,247,236,1) 80%);
    */
    background: rgb(131,196,81);
    background: linear-gradient(0deg, rgba(131,196,81,1) 0%, rgba(237,247,236,1) 80%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


