.container_servicios{
    margin: 2% auto;
    width: 100%;
    height: 305px;
    position: relative;
}

.container_servicios h2:before{
  content: '';
  position: absolute;
  height: 120px;
  width: 4px;
  background-color: var(--white);
  right: 0;
  top: 50%;
  margin: 0 auto;
  transform: translate(0%, -50%);
}

.container_servicios h2{
    padding: 0 5%;
    text-align: right;
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(0%, -50%);
}
.container_servicios h3{
    padding: 0 5%;
    text-align: left;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(0%, -50%);
    animation-duration: 3s;
    animation-name: slidein_left_right;
}

.container_servicios_image{
  width: 100%;
  background-color: var(--verde_primario);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
}


.container_servicios_image img{
    
    width: 100%;
    height: auto;
    border-radius: .5rem;
    animation-duration: 3s;
    animation-name: slidein_left_right;
    animation-name: fadein;
  }
  
  @keyframes slidein_left_right {
    from {
      transform: translate(25%, -50%);

    }
  
    to {
      transform: translate(0%, -50%);
    }
  }

  @keyframes fadein {
    from {
      opacity: .1;
    }
  
    to {
      opacity: 1;
    }
  }




  @media (max-width: 940px){
    .container_servicios{
      height: 360px;
    }
  }
  @media (max-width: 812px){
    .container_servicios{
      height: 415px;
    }
  }
  @media (max-width: 823px){
    .container_servicios{
      height: 470px;
    }
  }

  @media (max-width: 768px){
    .container_servicios{
      height: auto;
      position:static;
    }

    .container_servicios h2:before{
      content: '';
      position: absolute;
      height: 4px;
      width: 90%;
      
      top: 100%;
      right: 0%;
      margin: 0 auto;
      transform: translate(-5%, 0%);
    }
    
    .container_servicios h2{
        
        font-size: 1.5rem;
        padding: 2%;
        text-align: center;
        position: static;
        transform: translate(0%, 0%);

        animation-duration: 2s;
        animation-name: slidein_left_right_1;
    }
    .container_servicios h3{
        font-size: 1rem;
        padding: 2%;
        text-align: center;
        position: static;
        transform: translate(0%, 0%);
    
        animation-duration: 2s;
        animation-name: slidein_left_right_1;
    
    }
  }

  @keyframes slidein_left_right_1 {
    from {
      transform: translate(15%, 0%);

    }
  
    to {
      transform: translate(0%, 0%);
    }
  }

